.home {
  background-color: white;

  .hero-container {
    position: relative;
    .float-div {
      background-color: white;
      width: 360px;
      height: 300px;
      padding: 20px;
      position: absolute;
      top: 150px;
      left: 270px;
      button {
        width: 100%;
        height: 44px;
        background-color: #09b1ba;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 18px;
      }
      button:hover {
        opacity: 0.8;
      }
    }
  }
  .hero {
    height: 576px;
    width: 100%;
    object-fit: cover;
  }

  .offers {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    .offer {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      .offer-title {
        width: 240px;
        height: 100px;
        display: flex;
        align-items: center;
        gap: 15px;
        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        p {
          font-size: 12px;
          color: #c3c3c3;
        }
      }
      .offer-img-container {
        margin-bottom: 10px;
        width: 240px;
        height: 330px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .price {
        font-size: 14px;
        color: #080808;
      }
      span {
        font-size: 14px;
        color: #c3c3c3;
      }
    }

    .offer:hover {
      opacity: 0.8;
    }
  }
}
