.login {
  .login-container {
    max-width: 350px;
    margin: 100px auto;
    h2 {
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
      // align-items: center;
      input {
        max-width: 350px;
        height: 40px;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid #fef2f4;
        outline: none;
      }
      // input:active {
      //   border-color: #fef2f4;
      // }
      p,
      span {
        color: #c4c2c2;
      }
      .submit {
        height: 55px;
        border-radius: 5px;
        background-color: #09aeb7;
        color: white;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
