.offer-section {
  background-color: #ebedee;
  height: 85.5vh;
  padding-top: 50px;
}
.single-offer-container {
  width: 1350px;
  display: flex;
  gap: 50px;
  .album-container {
    display: flex;
    gap: 10px;

    .col-img-container {
      width: 350px;
      height: 625px;
      gap: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .row-img-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 625px;
      width: 350px;
      gap: 10px;
    }

    .offer {
      display: flex;
      gap: 10px;
      width: 200px;
      height: 315px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .detail-container {
    width: 500px;
    padding: 25px;
    margin-left: 50px;
    background-color: white;

    .price {
      font-size: 24px;
      font-family: bold;
    }
    .single-offer-detail {
      display: flex;
      border-bottom: 1px solid #ebedee;
      justify-content: flex-start;
      gap: 20px;
      margin-bottom: 40px;
      .detail-title {
        color: gray;
      }
    }
    .avatar-container {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .avatar {
      width: 50px;
      height: 50px;
      object-fit: contain;
      border-radius: 50%;
    }
    .buy-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .buy-btn {
        width: 100%;
        background-color: #09aeb7;
        border-style: none;
        color: white;
        margin-top: 20px;
        height: 50px;
      }
    }
  }
}
