.offer-section {
  background-color: #ebedee;
  height: 100vh;
}
.single-offer-container {
  display: flex;
  width: 1200px;
  gap: 50px;
  .album-container {
    display: flex;
    gap: 10px;

    .col-img-container {
      width: 470px;
      height: 625px;
      gap: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .row-img-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 625px;
      width: 470px;
      gap: 10px;
    }

    .offer {
      display: flex;
      gap: 10px;
      width: 235px;
      height: 315px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .single-offer-detail {
    display: flex;
    justify-content: flex-start;
  }
}
