.sign-up {
  .signup-container {
    max-width: 350px;
    margin: 100px auto;
    h2 {
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
      input {
        max-width: 350px;
        height: 40px;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid #e9ced2;
        outline: none;
        background: none;
      }
      input:focus {
        border-bottom-color: #2cb1ba;
      }

      .checkbox-container {
        display: flex;
        align-items: center;
        gap: 20px;
        input {
          margin-top: 18px;
          width: 25px;
        }
      }
      p,
      span {
        color: #c4c2c2;
      }
      .submit {
        height: 55px;
        border-radius: 5px;
        background-color: #09aeb7;
        color: white;
        font-size: 20px;
        font-weight: bold;
      }
      .submit:hover {
        opacity: 0.8;
      }
      .submit:active {
        opacity: 0.7;
      }

      .error-message {
        color: red;
      }
    }
  }
}
