.single-offer-container {
  display: flex;
  width: 900px;
  gap: 20px;
  .album-container {
    display: flex;
    gap: 10px;

    .col-img-container {
      width: 470px;
      height: 625px;
      border: 1px solid blue;
      gap: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .row-img-container {
      display: grid;
      // flex-direction: column;
      grid-template-columns: 1fr 1fr;
      // flex-direction: column;
      // flex-wrap: wrap;
      height: 625px;
      width: 470px;
      border: 1px solid red;
      // max-width: 5px;
    }

    .offer {
      display: flex;
      gap: 10px;
      // flex-wrap: wrap;
      // flex-direction: column;
      // margin-top: 10px;
      width: 235px;
      height: 315px;
      border: 1px solid black;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .single-offer-detail {
    display: flex;
    justify-content: flex-start;
    // flex-direction: column;
  }
}
