.header {
  // height: 190px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;

  .container {
    // margin-bottom: 50px;
    .top-nav {
      // height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #f5f6f8;
      padding: 10px;
      .search-container {
        background-color: #f5f6f7;
        width: 50%;
        height: 40px;
        // border: solid 1px gray;
        display: flex;
        i {
          line-height: 40px;
          margin: 0 5px;
          color: gray;
        }
        input {
          width: 100%;
          border: none;
          background-color: none;
          background-color: #f5f6f7;
          outline: none;
        }
        input:hover {
          opacity: 0.8;
        }
      }
      .nav {
        .logout {
          background-color: #c2175b;
          color: white !important;
          border-style: none;
        }
        .logout:hover,
        a:hover,
        .vendre:hover {
          opacity: 0.8;
        }
        a {
          border: 1px solid #09aeb7;
          color: #09aeb7 !important;
          padding: 5px 10px;
          border-radius: 5px;
          height: 26px;
        }
        .vendre {
          background-color: #09aeb7;
          color: white !important;
        }
      }
    }

    .categorys {
      nav {
        margin-right: 10px;
        // margin-bottom: 20px;
        display: flex;
        a {
          line-height: 60px;
          color: grey;
        }
      }
      .filters-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .switch {
          flex: 1;
          font-size: 40px;
          margin-left: 10px;
          color: #09aeb7;
        }
        .switch:hover {
          opacity: 0.8;
        }
        .range {
          flex: 3;
          width: 100%;
        }
        .select-limit-container {
          margin: 0 10px;
          span {
            margin-right: 10px;
            color: #b5b7b9;
          }
          select {
            height: 25px;
            padding: 0 5px;
            background-color: #09aeb7;
            outline: none;
            color: white;
            border: none;
            border-radius: 5px;
          }
          select:hover {
            opacity: 0.8;
          }
        }
        .switch-page {
          flex: 2;

          button {
            margin-right: 10px;
            background-color: #09aeb7;
            border: none;
            color: white;
            padding: 5px;
            border-radius: 5px;
            width: 120px;
            cursor: pointer;
            i {
              padding: 0 5px;
            }
          }
          button:hover {
            opacity: 0.8;
          }

          button:active {
            opacity: 0.6;
          }
        }
      }
    }
  }

  img {
    height: 50px;
  }
  nav a {
    margin-right: 10px;
  }
}
