* {
  box-sizing: border-box;
}
body {
  background-color: #ebedee;
}
.App {
  // text-align: center;
  font-family: sans-serif;
  background-color: white;
}
h1 {
  font-size: 40px;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
}
